.tm-red{
  color: rgba(240,240,240,.9);background-color: #A64C4C;border: 1px solid #AF2F00;
}
.tm-green{
  color: rgba(0,0,0,.9);background-color: #C6FC09;border: 1px solid #AF2F00;
}
.tm-yellow{
  color: rgba(0,0,0,.9);background-color: yellow;border: 1px solid #AF2F00;
}
